# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production builds
client/dist/
dist/

# Environment variables & secrets
.env
server/.env

# System & IDE logs
*.log
.DS_Store
.vscode/
.idea/
